<section class="main archive">
  <div class="wrapper">
    <% var last %>
    <% page.posts.each(function (post) { %>
      <% var year = post.date.year() %>
      <% if (last != year) { %>
        <%if (last != null) { %>
          </ul>
        <% } %>
        <h2><a href="<%- url_for(config.archive_dir + '/' + year) %>"><%= year %></a></h2>
        <ul class="post-list">
      <% } %>
      <% last = year %>
        <li class="post-item">
          <span class="post-meta"><%- date(post.date, 'MMMM D, YYYY') %></span>
          <h2 class="post-title">
            <% if (post.link) { %>
              <a href="<%- url_for(post.link) %>" target="_blank"><%= post.title %></a>
            <% } else { %>
              <a href="<%- url_for(post.path) %>"><%= post.title %></a>
            <% } %>
          </h2>
        </li>
    <% }) %>
    </ul>
    <div class="paginator">
      <%- paginator({
      prev_text: '&laquo; Prev',
      next_text: 'Next &raquo;'
    }) %>
    </div>
  </div>
</section>