<!DOCTYPE html>
<html>
<head>
  <title><%- title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="alternate" href="atom.xml" type="application/atom+xml">
  <link rel="icon" href="<%- theme.root + 'favicon.ico' %>">
  <%- css('css/main.css') %>
</head>
<body>
<% if (page.banner) { %>
  <% var bgSize = page.banner.size || 'cover'; %>
  <% var bgHeight = page.banner.height || '450px'; %>
  <% var bgPosition = page.banner.position || 'center'; %>
<header style="background-image:url('<%= page.banner.image %>'); background-size: <%= bgSize %>; background-position: <%= bgPosition %>; height: <%= bgHeight %>;">
<% } else { %>
<header>
<% } %>
  <div class="wrapper clearfix">
    <a href="<%- theme.root %>" class="site-title"><code>$_</code></a>
    <% if (theme.menu) { %>
    <span class="hamburger"></span>
    <ul class="nav">
      <% for (var i in theme.menu) { %>
      <li>
        <a href="<%- theme.root + theme.menu[i].replace(/^\//,'') %>"><%= i %></a>
      </li>
      <% } %>
    </ul>
    <% } %>
  </div>
</header>