<section class="main index">
  <div class="wrapper">
    <h2>Posts</h2>
    <ul class="post-list">
      <% page.posts.each(function (post) { %>
      <li class="post-item">
        <span class="post-meta"><%- date(post.date, 'MMMM D, YYYY') %></span>
        <h2 class="post-title">
          <% if (post.link) { %>
            <a href="<%- url_for(post.link) %>" target="_blank"><%= post.title %></a>
          <% } else { %>
            <% if (post.title) { %>
              <a href="<%- url_for(post.path) %>"><%= post.title %></a>
            <% } else { %>
              <a href="<%- url_for(post.path) %>">No Title</a>
            <% } %>
          <% } %>
        </h1>
      </li>
      <% }) %>
    </ul>
    <div class="paginator">
      <%- paginator({
        base: theme.root,
        prev_text: '&laquo; Prev',
        next_text: 'Next &raquo;'
      }) %>
    </div>
  </div>
</section>
