mixin header-main
  .wrapper
    include logo

    - if (theme.menu)

      .menu
        span.hamburger
          span
      nav(
        role="navigation",
        class="nav"
      )
        - for (var i in theme.menu)
          a(
            href=theme.menu[i]
          )= i



doctype html
html
  head
    block title
    //- title= config.title
    meta(charset="utf-8")
    meta(
      name="viewport",
      content="width=device-width, initial-scale=1, maximum-scale=1"
    )
    link(
      rel="alternate",
      href="atom.xml",
      type="application/atom+xml"
    )
    link(
      rel="icon",
      href=theme.root + "favicon.ico"
    )
    link(
      rel="stylesheet",
      href=theme.root + "css/main.css",
      type="text/css"
    )
  body
    -
      var hero;
      if (theme.hero) {
        // var rand = Math.floor(Math.random() * theme.heros.length);
        if (Array.isArray(theme.hero)) {
          hero = theme.hero[theme.hero.length - 1];
        } else {
          hero = theme.hero;
        }
      }

      hero = page.banner || page.hero || hero;

    - if (hero)
      -
        var bgSize = hero.size || 'cover';
        var bgHeight = hero.height || '450px';
        var bgPosition = hero.position || 'center';
        var bgRepeat = hero.repeat || 'no-repeat';
        var bgColor = hero.color || '#333';

        var inStyle = {
          height: bgHeight,
          'background-image': 'url(' + hero.image + ')',
          'background-size': bgSize,
          'background-position': bgPosition,
          'background-repeat': bgRepeat,
          'background-color': bgColor
        }

      header.with-bg(style=inStyle)
        +header-main

    - else
      header
        +header-main

    block section
    block footer
