- if (theme.logo)
  - if (theme.logo.image)

    a(
      href=theme.root,
      class="site-title"
    )
      img(src=theme.logo.image)

  - else if (theme.logo.text)

    a(
      href=theme.root,
      class="site-title"
    )
      code!= theme.logo.text

- else

  a(
    href=theme.root,
    class="site-title"
  )
    code $_